This Jupyter notebook provides a utility function for loading the USWNT data into a Dataframe

In [1]:
#The USWNT data is not as clean as you'd expect. The following util loads them into a data frame for analysis
import uswnt_dataloader as uswnt

In [2]:
uswnt_df = uswnt.load_uswntData()
uswnt_df.head(200)

Year  2015  columns =  Index(['Player', 'Pos', 'GP', 'GS', 'Min.', 'G', 'A', 'Pts', 'Y/R',
       'Caps/Goals'],
      dtype='object')
Year  2016  columns =  Index(['Player', 'Pos', 'GP', 'GS', 'Min.', 'G', 'A', 'Pts', 'Y/R',
       'Caps/Goals'],
      dtype='object')
Year  2017  columns =  Index(['Player', 'Pos', 'GP', 'GS', 'Min.', 'G', 'A', 'Y/R', 'Caps/Goals'], dtype='object')
Year  2018  columns =  Index(['Player', 'Pos', 'GP', 'GS', 'Min.', 'G', 'A', 'Y/R', 'Caps/Goals'], dtype='object')
Year  2019  columns =  Index(['Name', 'Pos.', 'GP', 'GS', 'Min', 'G', 'A', 'Y', 'R', 'Caps', 'Goals'], dtype='object')

    Year             Name Pos.  GP  GS   Min  G  A  Y    R Caps Goals
0   2015    Boxx, Shannon    M   9   2   219  0  1  0    0  195    27
1   2015    Brian, Morgan    M  24  19  1663  1  2  1    0   43     4
2   2015   Chalupny, Lori    D  11   5   503  2  1  0    0  106    10
3   2015    Dunn, Crystal    D   8   6   488  4  3  1    0   20     4
4   2015   Engen, Whitney    D   6   3   381  1  1  0    0   29     4
..   ...              ...  ...  ..  ..   ... .. .. ..  ...  ...   ...
26  2019     Short, Casey    D   4   2   247  0  0  0  NaN   31     0
27  2019   Sonnett, Emily    D  14   8   741  0  2  0  NaN   40     0
28  2019   Sullivan, Andi    M   4   0   145  0  0  0  NaN   15     0
29  2019   Williams, Lynn    F   2   0    90  2  0  0  NaN   21     6
30  2019  Zerboni, McCall    M   2   0    38  0  0  0  NaN    9     0

[160 rows x 12 columns]

In [3]:
uswnt_df.to_csv("uswnt_cleaned.csv")